<p id="notice"><%= notice %></p>

My name is :
<%= current_user.name %>
<br />


Here is who I am following :
  <% current_user.followers.each do |u|  %>
     <%= User.find(u.idol_id).name %>
  <% end %>

  <br />

Here is who is following me :
  <% current_user.idols.each do |i|  %>
      <%= User.find(i.follower_id).name %>
  <% end %>

<h1>My Rants</h1>

<div class = "row">
  <% @rants.each do |rant| %>
    <div class = "col-md-12">
      <div class="thumbnail hov">
        <%=rant.user.name%>
      <div class ="caption">
      <h3><%= rant.title %></h3>
      <p><%= rant.body %></p>
      <%= link_to 'Show', rant %>
      <%= link_to 'Edit', edit_rant_path(rant) %>
      <%= link_to 'Destroy', rant, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
    <% end %>
</div>



<%= link_to 'New Rant', new_rant_path %>
