<p id="notice"><%= notice %></p>

  <div class = "row">
    <div class = "col-md-12">
      <div class="thumbnail hov">
  <p>Ranter:  <%=@rant.user.name%> </p>
      <div class ="caption">
      <h3><%= @rant.title %></h3>
      <p><%= @rant.body %></p>



<%= link_to 'Back', rants_path %>
